body
{
    width: 90%;
    margin: auto;
    font-size: 1.2rem;
    background-image: url("media/concert.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: block;
    word-wrap:break-word;
}

h1 {grid-area: cim;}
nav {grid-area: menu;}
img {grid-area: logo;}

header
{
    background-color: rgba(155, 20, 20, 0.7);
    padding: 20px;
    padding-top: 0px;
    margin: 20px 10px;
    border-radius: 2em;
    display: grid;
    grid-template-columns: 5fr  1fr;
    grid-template-areas: 
    'cim logo'
    'menu logo';
}

main 
{
    background-color: rgba(155, 20, 20, 0.7);
    padding: 20px;
    margin: 20px 10px;
    text-align: justify;
    border-radius: 2em;
}

footer
{
    background-color: rgba(155, 20, 20, 0.7);
    padding: 20px;
    margin: 20px 10px;
    border-radius: 2em;
}

/* linkek */
a:link
{
    color: black;
}

a:hover, a:active
{
    color:darkred;
}

a:visited
{
    color: darkgray;
}

/* nav */
nav a:link, nav a:visited
{
    background-color: rgb(75, 75, 75);
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border-radius: 1em;
    width: 120px;
}
  
nav a:hover, nav a:active 
{
    background-color: rgb(155, 20, 20);
    color: black;
}

nav a.selected
{
    background-color: rgb(155, 20, 20);
    color: black;
}

nav ul
{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

nav li
{
    padding: 5px;
}

.logo
{
    width: 100px;
    height: auto;
}

h1
{
    font-family: 'Train One', cursive;
    font-size: 2.5rem;
    text-transform:capitalize;
    font-variant: small-caps;
    margin: 0;
    padding: 20px 50px;
}

h2 {grid-area: alcim;}
div {grid-area: szoveg;}

article
{
    font-size: 1.4rem;
    /* font-family: 'Kiwi Maru', serif; */
    font-family: 'Cormorant', serif;
    display: grid;
    grid-template-rows: 60px 1fr; 
    grid-template-areas: 
    'alcim'
    'szoveg';
}

section
{
    margin: auto;
    text-align: center;
    display: grid; 
    vertical-align: top;
}

aside
{
    margin: auto;
    display: grid;
    vertical-align: top;
}

figure
{
    text-align: center;
}

/* táblázat */
.discography
{
    background-color: dimgray;
    padding: 10px;
    border-collapse: collapse;
    max-width: 980px;
    width: 80%;
    text-align: center;
    margin: auto;
}

.discography td, .discography th
{
    border: 1px solid black;
    padding: 6px;
}

.discography tr:nth-child(even)
{
    background-color: gray;
}

.discography td img
{
    width: 2cm;
}

.hasab 
{
    width: auto;
    column-count:2;
    column-gap: 30px;
}

div
{
    margin: 5px;
}

.quote
{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.8rem;
    padding: 5px;
    margin: 20px 40px;
}

p, h2, img
{
    margin: auto;
}

ul
{
    list-style: disc;
}

.tour
{
    width: 70%;
    min-width: 250px;
    margin: auto;
}

form
{
    font-size: 1.3rem;
    margin: auto;
    max-width: 800px;
}

fieldset
{
    border-radius: 5px;
    background-color: #360e0eb6;
    padding: 20px;
    margin: auto;
    text-align: left;
}

label 
{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=button], input[type=submit], input[type=reset] 
{
    background-color: gray;
    border: 4px;
    border-color: black;
    border-radius: 5px;
    color:black;
    padding: 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover 
{
    background-color: rgb(95, 95, 95);
}

input[type=text], select, textarea 
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.col-25 
{
    float: left;
    width: 25%;
    margin-top: 6px;
    box-sizing: border-box;
}
  
.col-75 
{
    float: left;
    width: 75%;
    margin-top: 6px;
    box-sizing: border-box;
}

.row:after 
{
    content: "";
    display: table;
    clear: both;
}

video
{
    min-width: 260px;
    max-width: 80%;
    height: auto;
}

.responsive {
    max-width: 80%;
    height: auto;
}

.gomb
{
    background-color: black;
    width: 60px;
    height: 60px;
    border-color: gray;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    margin: auto;
    float: right;
    cursor: pointer;
}

.large
{
    display: flex;
}

.small
{
    display: none;
}

@media screen and (max-width: 768px) 
{
    .hasab 
    {
        column-count: 1;
    } 
    .scrollable
    {
        width: 95%;
        overflow-x: scroll;
    }
    header
    {
        grid-template-columns: 4fr  1fr;
    }
    /* .large
    {
        display: block;
    } */
}

@media screen and (max-width: 360px) 
{
    body
    {
        width: 100%;
        background-repeat: no-repeat;
        background-image: url("media/concert_kicsi.jpg");
    }

    main 
    {
        border-radius: 0em;
        margin: 0px;
        text-align: left;
    }

    header, footer
    {
        /* display: block; */
        /* grid-template-areas: 'menu'; */
        /* width: 100%; */
        border-radius: 0em;
        margin: 0px;
        padding: 10px;
        background-color: rgb(100, 12, 12);
    }

    h1 {grid-area: cim;}
    nav {grid-area: gomb;}

    header
    {
        margin: auto;
        padding: 20px;
        vertical-align: middle;
        display: grid;
        grid-template-columns: 4fr  1fr;
        grid-template-areas: 
        'cim gomb';
    }

    nav
    {
        vertical-align: middle;
        margin: auto;
    }

    h1
    {
        float: left;
        padding: 10px;
    }

    .hasab 
    {
        column-count: 1;
    }
    .col-25, .col-75, input[type=submit], input[type=reset]
    {
        width: 100%;
        margin-top: 0;
    }
    .scrollable
    {
        width: 95%;
        overflow-x: scroll;
    }

    form
    {
        width: 95%;
        text-align: center;
    }
    .large
    {
        display: none;
    }
    .small
    {
        display: block;
    }
    .logo
    {
        visibility: hidden;
        display: none;
    }
} 

@media print 
{
    header
    {
        display: none;
    }

    footer
    {
        display: none;
    }
}
